* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main-container {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.counter-container {
  border: 5px solid rgb(68, 164, 196);
  display: flex;
  flex-direction: column;
  place-items: center;
  background-color: rgb(182, 232, 248);
  padding: 2%;
  width: 60%;
}

.icon {
  width: 25px;
  height: 25px;
}

.small-icon {
  width: 15px;
  height: 15px;
}

.cart-panel {
  display: flex;
}

.item-text {
  font-weight: 800;
}

.total-count-holder {
  background-color: rgb(197, 197, 248);
  border-radius: 15px;
  min-width: 75px;
  min-height: 30px;
  background-color: rgb(23, 172, 221);
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0% 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.control-panel {
  display: flex;
  margin: 5% 0%;
}

.refresh-icon-container,
.reset-icon-container {
  width: 50px;
  height: 50px;
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.reset-icon-container {
  background-color: rgb(3, 182, 3);
  margin-right: 5%;
  cursor: pointer;
}

.refresh-icon-container {
  background-color: rgb(50, 50, 247);
  margin-left: 5%;
  cursor: pointer;
}

.count-operations {
  margin-top: 2%;
  display: flex;
}

.count {
  background-color: rgb(235, 197, 27);
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 5%;
  font-weight: 800;
  margin-right: 5%;
  border-radius: 5px;
}

button {
  width: 80px;
  margin-right: 5%;
  border: none;
  color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.increment {
  background-color: gray;
}

.decrement {
  background-color: rgb(83, 199, 238);
}
.delete {
  background-color: red;
}
